/BinaryMultiTest_DIdata.dat
/BinaryMultiTest_RVdata.dat
/BinaryMultiTest_settings.py
/Earth5percent_settings.py
/GJ1108A_DIdata.dat
/GJ1108A_RVdata.dat
/GJ1108A_settings.py
/GJ1108A-1_settings.py
/HD129333_DIdata.dat
/HD129333_RVdata.dat
/HD129333_settings.py
/HD129333-1_settings.py
/HD130948BC_settings.py
/HIP10321_settings.py
/HIP42074_settings.py
/HIP42074-1_DIdata.dat
/HIP42074-1_RVdata.dat
/HIP42074-1_settings.py
/HIP42074-2_settings.py
/HR7672_settings.py
/HR7672-1_DIdata.dat
/HR7672-1_RVdata.dat
/HR8799b_DIdata.dat
/HR8799b_settings.py
/HR8799c_DIdata.dat
/HR8799c_settings.py
/HR8799d_DIdata.dat
/HR8799d_settings.py
/HR8799e_DIdata.dat
/HR8799e_settings.py
/JupiterMultiTest_DIdata.dat
/JupiterMultiTest_RVdata.dat
/JupiterMultiTest_settings.py
/JupiterOmegaTest_DIdata.dat
/JupiterOmegaTest_RVdata.dat
/JupiterOmegaTest_settings.py
/settingsAdvanced.py
/settingsSimple.py
*.py~
